{% extends 'base.html' %}

{% block title %} by date {% endblock %}

{% block content %}

<!-- Check if affluence is set but contains an error -->
{% if affluence and affluence[3] == true %}
    <div class="container mt-5">
        <!-- Bootstrap Alert -->
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Warning!</strong>
            <br>
            <span>
                The input selected is not available. Please try with some other target date.
                <br>
                Other months may also have some target dates missing: if so, try changing day but not month.
            </span>
            
        </div>
    </div>
{% endif %}

<!-- Notification that some months are not available -->
<div class="container mt-5 text-left">
    <p style="text-align: left; margin-bottom: 10px;">
        <strong><span>Note that May and June are not available at all.</span></strong>
    </p>
</div>

<div class="container p-4 bg-white rounded shadow-sm">
    <h2 class="text-center mb-4"> Select date to display average number of visitors </h2>

    <form method="get" action="/f2">
        <div class="mb-3">
            <!-- form to select day, ranging from first to thirty-first of any month -->
            <label for="daySelection" class="form-label">Select day:</label>
            <select class="form-select" id="daySelection" name="daySelection" required>
                {% for day in range(1, 32) %}
                <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <!-- form to select month, ranging from first to twelfth of any year -->
            <label for="monthSelection" class="form-label">Select month:</label>
            <select class="form-select" id="monthSelection" name="monthSelection" required>
                {% for month in range(1, 13) %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>
        </div>
        <button style="background-color: darkred; color: white; padding: 10px 10px; 
        border: none; border-radius: 5px; cursor: pointer;" type="submit">Submit</button>
    </form>

    <!-- response once the form has been submitted and no error is present -->
    {% if affluence and affluence[3] == false %}
    <div class="container mt-5 text-center">
        <h2>Here's your results for target date {{ target_date }}:</h2>
        <!-- a table is created for the first answer, which returns affluence for each area for the date specified-->
        <div class="card">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>Visitors</th>
                    </tr>
                </thead>
                <tbody>
                    {% for area in affluence[0] %}
                    <tr>
                        <td>{{ area['Area'] }}</td>
                        <td>{{ area['Forecasted_Visitors'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- The area with the maximum affluence for that day is returned -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Max Affluence</h5>
                <p class="card-text">{{ affluence[1] }}</p>
            </div>
        </div>
        <!-- The area with the minimum affluence for that day is returned -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Min Affluence</h5>
                <p class="card-text">{{ affluence[2] }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock %}