{% extends 'base.html' %}

{% block title %} Bologna {% endblock %} <!-- what you see in the tab of the browser -->

{% block content %}
<div class="container mt-5" style="text-align: center;">
    <h1 style="color: darkred; font-size: 8em;">BOLOGNA!</h1>
</div>

<div class="container mt-5 text-center">
    <!-- Button 1 - reference to the first function -->
    <a href="/f1" class="btn" style="background-color: darkred; color: white; margin-right: 2px;">Average number of
        visitors by area and stay time</a>

    <!-- Button 2 - reference to the second function -->
    <a href="/f2" class="btn" style="background-color: darkred; color: white; margin-right: 2px;">Average number of
        visitors by date</a>

    <!-- Button 3 - reference to the third function -->
    <a href="/f3" class="btn" style="background-color: darkred; color: white; margin-right: 2px;">Comparison of number
        of visitors between two periods</a>
</div>

<!-- Information about the weather in Bologna -->
<!-- weather_data is defined in base.html starting from an API -->
{% if weather_data %}
<div class="container mt-5 text-center">
    <h2>Current Weather in Bologna</h2>
    <p>
        <span class="bi bi-thermometer-half"></span>
        {{ weather_data['main']['temp'] }} °C
    </p>
    <p>
        {% if weather_data['weather'][0]['description'].lower() == 'clear sky' %}
        <span class="bi bi-brightness-high"></span>
        {% elif weather_data['weather'][0]['description'].lower() == 'clouds' %}
        <span class="bi bi-cloud"></span>
        {% elif weather_data['weather'][0]['description'].lower() == 'rain' %}
        <span class="bi bi-cloud-drizzle" style="font-size: 2em;"></span>
        {% elif weather_data['weather'][0]['description'].lower() == 'thunderstorm' %}
        <span class="bi bi-cloud-lightning" style="font-size: 2em;"></span>
        {% elif weather_data['weather'][0]['description'].lower() == 'snow' %}
        <span class="bi bi-snow" style="font-size: 2em;"></span>
        {% elif weather_data['weather'][0]['description'].lower() in ['fog', 'mist'] %}
        <span class="bi bi-cloud-fog"></span>
    {% endif %}
    {{ weather_data['weather'][0]['description'] }}
    </p>
    <p>
        <span class="bi bi-wind"></span>
        {{ weather_data['wind']['speed'] }} m/s
    </p>
    <p>
        <span class="bi bi-droplet"></span>
        {{ weather_data['main']['humidity'] }}%
    </p>
    {% if 'rain' in weather_data %}
    <p>
        <span class="bi bi-umbrella"></span>
        Rainfall: {{ weather_data['rain']['1h'] }} mm
    </p>
    {% endif %}
</div>
{% endif %}

<!-- images added at the end of the page, style defined in base.html -->
<div class="image-container">
    <img src="https://images.unsplash.com/photo-1477915737647-b5246ee6de6f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9sb2duYXxlbnwwfHwwfHx8MA%3D%3D"
        alt="Image 1">
    <img src="https://images.unsplash.com/photo-1592151144537-5635115dbd3c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJvbG9nbmF8ZW58MHwwfDB8fHww"
        alt="Image 2">
    <img src="https://images.unsplash.com/photo-1635469019177-7264fc1e013c?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Image 3">
    <img src="https://images.unsplash.com/photo-1666200094966-52254d810577?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAyfHxib2xvZ25hfGVufDB8MHwwfHx8MA%3D%3D"
        alt="Image 4">
</div>

{% endblock %}